@charset "gb2312";
/* CSS Document */

body{margin:0px;padding:0px;font-size:14px;font-family:"微软雅黑","SimHei","SimSun";line-height:24px; background-color:#fff; color:#000;}
div, h1, h2, h3, h4,h5, p, form, label, input, textarea, img, span,dl,dt,dd{margin:0; padding:0;}
p,div,form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0; text-align:left;}
ul,ol,li{list-style:none;}
body .footer{ color:#000;}
a{ color:#000; text-decoration:none; outline:none;}
a:hover{text-decoration:underline; outline:none;}
img{border:none;}

input[type=button]:hover{filter:alpha(opacity=60);/*IE*/opacity:0.6;/*Mozilla*/}



.c7{height:400px; }
.c7 a:hover img{filter:alpha(opacity=80);/*IE*/opacity:0.8;/*Mozilla*/}
.c71{ position:absolute; left:-2px; top:0px;}
.c72{ position:absolute; left:-2px; top:148px;}
.c73{ position:absolute; left:248px; top:148px;}
.c74{ position:absolute; left:463px; top:0px;}
.c75{ position:absolute; left:463px; top:181px;}
.c76{ position:absolute; left:671px; top:0px;}



 
  pre {  border: #999 dashed 1px; background: #f6f6f6;padding:10px;
 white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
 
 }