@charset "gb2312";
/* CSS Document */

body{margin:0px;padding:0px;font-size:14px;font-family:"微软雅黑","SimHei","SimSun";line-height:24px; background-color:#fff; color:#000;}
div, h1, h2, h3, h4,h5, p, form, label, input, textarea, img, span,dl,dt,dd{margin:0; padding:0;}
p,div,form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0; text-align:left;}
ul,ol,li{list-style:none;}
body .footer{ color:#000;}
a{ color:#000; text-decoration:none; outline:none;}
a:hover{text-decoration:underline; outline:none;}
img{border:none;}

input[type=button]:hover{filter:alpha(opacity=60);/*IE*/opacity:0.6;/*Mozilla*/}



.scrollBox_lb1 { position:relative; width:2860px;height:400px;overflow:hidden;}
.scrollBox_lb1 ul {position:absolute;top:0; left:0;padding: 0;height:400px; margin: 0;}
.scrollBox_lb1 li {float:left; width:960px;position:relative; margin-right:9px;}
.scrollBox_lb1 li a:hover {filter:alpha(opacity=95);/*IE*/opacity:0.9;/*Mozilla*/}
.aBtn_lb1 {float:left;position: absolute; height:55px; width:34px; background:url(../images/anan1.png) 0px 0px  no-repeat;filter:alpha(opacity=80);/*IE*/opacity:0.8;/*Mozilla*/}
.aBtn_lb1:hover{filter:alpha(opacity=100);/*IE*/opacity:1;/*Mozilla*/}
.aBtnD_lb1{float: left; width: 34px; height: 55px;}
.lBtn_lb1 {top:142px;left: 0px;z-index: 2;}
.rBtn_lb1 {background-position:-34px center;top:142px;left: 927px;z-index: 99;}
.ctr1{position: absolute; top: 380px;left: 443px; z-index: 9999;}
.ctr1 .toc{display: block;float: left;width: 12px;height: 12px;background:#afafaf;color: #ffffff;margin-left: 5px;overflow:hidden;cursor:pointer;}
.ctr1 .cur{display: block;float: left;width: 12px;height: 12px;background:#405b83;overflow:hidden }
.ctr1 a{margin-left: 4px;}


 
  pre {  border: #999 dashed 1px; background: #f6f6f6;padding:10px;
 white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
 
 }