body, h1, h2, h3, h4, h5, h6, blockquote, p, dl, dt, dd, ul, ol, li, th, td, form, fieldset, legend, button, input, textarea { margin: 0; padding: 0; }

em, i { font-style: normal; }

body, button, input, select, textarea { font: 8px arial, "Microsoft YaHei", "SimHei", "SimSun", sans-serif; }

button, input, select, textarea, h1, h2, h3, h4, h5, h6 { font-size: 100%; }

ol, ul { list-style: none; }

img, fieldset { border: 0; vertical-align: middle; }

textarea { resize: none; }

a { outline: 0; }
a:active { star: expression(this.onFocus=this.blur()); }

:focus { outline: 0; }

table { table-layout: fixed; }

.pr { position: relative; }

.clear { font-size: 0; line-height: 0; height: 0; overflow: hidden; clear: both; visibility: hidden; }

ul.fl, ol.fl { float: left; display: block; }

/*body*/
body { margin: 0; padding: 0; color: #fff; font-size: 12px; text-align: left; background: #d7d7d9; }

a, a:link, a:visited, a:active {color: #a62035;text-decoration: none;}
a:hover { color: #404d71; text-decoration: underline; }
a:hover img { filter: alpha(opacity=80); opacity: 0.8; }

.main {margin: 0 auto;width: 1200px;}

.red { color: #fff; }
.red:link, .red:visited, .red:hover, .red:active { color: #fff; }

.aLink { display: block; width: 100px; height: 30px; text-align: center; line-height: 30px; color: #fff; text-decoration: none; }
.aLink:link, .aLink:visited, .aLink:hover, .aLink:active { color: #fff; text-decoration: none; }

/*min-footer*/
/*
body .footer{ height: 28px; line-height: 28px; position: absolute; width:100%; bottom: 0; .section{ padding: 0; }
}
body .author{ position: absolute; width:100%; bottom: 28px;
}

/* https://topic.autohome.com.cn/new/marketing/2018/3/kyqxcx/test/
https://topic.autohome.com.cn/new/marketing/2018/3/kyqxcx/test/
https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test */


/*bg*/
.top1, .top1 .main { height: 704px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_01.jpg) center top no-repeat; }
/*.top2, .top2 .main { height: 465px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/bg_02.jpg) center top no-repeat; }*/
.top3, .top3 .main { height: 584px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_02.jpg) center top no-repeat; }
.top4, .top4 .main { height: 577px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_03.jpg) center top no-repeat; }
.top5, .top5 .main { height: 744px;background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_04.jpg) center top no-repeat; position: relative; }
.top6, .top6 .main { height: 560px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_05.jpg) center top no-repeat; }
.top7, .top7 .main { height: 953px; background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test1/bg_06.jpg) center top no-repeat; }



a.one5{/*text-decoration: underline;*/
color: #464646;
font-size: 24px;
position: absolute;
top: 314px;
/*text-decoration: none;*/
left: 102px;
text-decoration: underline;
font-weight: bold;}
a.one5:hover{
	animation-name: wobble-bottom;animation-duration: 1s;animation-timing-function: ease-in-out;animation-iteration-count: 1;}
@keyframes wobble-bottom{
  15% {-webkit-transform: skew(-18deg);transform: skew(-18deg);}
  30% {-webkit-transform: skew(18deg);transform: skew(18deg);}
  45% {-webkit-transform: skew(-9deg);transform: skew(-9deg);}
  60% {-webkit-transform: skew(9deg);transform: skew(9deg);}
  75% {-webkit-transform: skew(-2deg);transform: skew(-2deg);}
  100% {-webkit-transform: skew(0);transform: skew(0);}
}
}
a.one6{text-decoration: none;color: #464646;font-size: 24px;position:absolute;top: 75px;left: 15px;font-weight: bold;}
.c1,.c2,.c3,.c4,.c5,.c6,.c7{position:relative;}

.form-box {position:absolute;top: 92px;left: 700px;}

.inpBox { padding: 10px 0 0 0px;}
.inpBox a {float:left; margin-right:10px; width:150px; height:35px; text-align:center; line-height:35px; font-size:16px;color:#fff;}
.inpBox a:hover {opacity:0.7;text-decoration:none;}
.inpBox a.mdBtn {margin-left: -29px;}
.inpBox a.mdBtn:hover {opacity:0.8;}

body a.notice{color: #a62035;text-decoration:underline;}
body a.notice:hover{text-decoration: none}
.notice1{
	color: #f00;
	position: absolute;
	left: 29px;
	width: 100px;
	font-size: 13px;
	height: 18px;
	text-decoration: underline;
}
.one .form-box .notice1:hover{
	text-decoration: none;
}
.rotate-box {    position: relative;
    width: 588px;
    height: 588px;
    overflow: hidden;
    top: 0px;
    left: 25px;}
.rotate-box .hand{cursor: pointer;position: absolute;top: 152px;left: 190px;}
.rotate-box .num_box {position: absolute;font-size: 12px;width: 140px;text-align: center;line-height: 20px;left: 193px;top: 283px;}
.rotate-box .mask {position: absolute;top: 0;left: 0;width: 100%;min-height: 100%;height: 518px;z-index: 999;-webkit-animation: fadeIn 0.6s both;-moz-animation: fadeIn 0.6s both;animation: fadeIn 0.6s both}
.rotate-box .mask .box {position: absolute;left: -82px;right: 0;top: -100px;bottom: 0;border: 3px solid #dcdcdc;width: 296px;height: 158px;margin: auto;}
.rotate-box .mask-login .info {border-bottom: 1px solid #fff;margin: 0 15px;font-size: 16px;padding-top: 5px;text-align: center;font-weight: bold;line-height: 30px;color: #fff}
.rotate-box .mask-login .form {margin: 0 15px;width: 270px}
.rotate-box .mask-login input {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;display: block;width: 100%;height: 26px;line-height: 26px;border: 0;padding-left: 5px;background: #fff;}
.rotate-box .icon-close {position: absolute;top: 5px;right: 5px;width: 14px;height: 14px;-moz-border-radius: 20px;border-radius: 20px;cursor: pointer;border:2px solid #fff;background: url(http://x.autoimg.cn/topic/images/closeBtn_black.png) center center no-repeat #fff;}
.rotate-box .mask-login .icon-close:hover {filter: alpha(opacity=80);-moz-opacity: 0.8;-khtml-opacity: 0.8;opacity: 0.8;}
.rotate-box .mask-login .btn-area {float: left;padding: 5px 0 10px 4px;}
.rotate-box .mask-login .txt {clear: both; text-align: left;line-height: 24px;color: #fff;padding:5px 0 5px 20px;font-size: 12px;}
.rotate-box .mask-login .btn-reg {display: block;width: 57px;height: 57px;text-align: center;color: #fff;font-size: 16px;line-height: 57px;text-decoration: none;}
.rotate-box .mask-login .btn-reg:hover{opacity: .8;filter: alpha(opacity=80);}
.rotate-box .mask-login dl {float: left;padding: 5px 0 10px;width: 205px;}
.rotate-box .mask-login dt {float: left;width: 55px;height: 26px;line-height: 26px;font-size: 14px;text-align:right;color: #fff;margin-bottom: 5px;}
.rotate-box .mask-login dd {float: left;width: 146px;height: 26px;margin-bottom: 5px;}
.rotate-box .mask-result .tit {padding-top: 10px;font-size: 22px;font-weight: bold;color: #fff;text-align: center;margin-bottom: 10px;}
.rotate-box .mask-result .prize {width: 75px;height: 80px;text-align: center;float: left;padding: 0 20px;}
.rotate-box .mask-result .prize img {width: 75px;height: 80px;}
.rotate-box .mask-result .info {line-height: 26px;color: #fff;font-size: 22px;padding: 10px 10px 0 0;}
.rotate-box .mask-fail .txt {text-align: center;font-size: 24px;color: #fff;font-weight: bold;padding-top: 40px;line-height: 1.5;}
.rotate-box .num_box{color: #fff;}
.rotate-box .num_box .num {color: #ff9900;}
.rotate-box .mask .box{background: #c5c5c5;}
.rotate-box .mask-login .btn-reg{background: #ffb72a;}
.rotate-box .alert-box{position: fixed;width: 200px;height: 50px;font-size: 14px;left: 0;right: 0;top: 0;bottom: 0;color:#fff;margin: auto;text-align: center;line-height: 50px;-moz-border-radius: 10px;border-radius: 10px;background-color: rgba(0, 0, 0, .8);}



.form-box { width:400px;}
.form-box dl{ width:100%;}
.form-box dl::after{ content:"";display: block; clear: both;}
.form-box dt , .form-box dd{ line-height:22px; padding:3px 0; height:26px;float:left; }
.form-box dd { width:327.75px;}
.form-box dt {width:37px; text-align:right; padding-right:5px;}
.form-box dt span, .formText span{color:#a00;display: inline-block; width: 8px;}
.form-box dt span {text-align: left;}.form-box input{vertical-align:middle;}
.form-box .codeDd{width:247.75px;position:relative; padding-right:80px;}
.form-box select {width:326.75px; height:22px;}
.form-box .textInp{width:322.75px; padding:0;height:18px;}
.form-box .codeInp{ width:237.75px;}
.form-box dl.s {float:left;}
.form-box dl.even {width:159px;}
.form-box dl.odd {width:212px;}
.form-box dl.s dd {width:117px;}
.form-box dl.s .codeDd {width:37px;}
.form-box dl.s dt.s { width:90px;}
.form-box .s .textInp{ width:112px;}
.form-box .s .codeInp{ width:27px;}
.form-box .s select{ width:116px;}
.form-box .codeBtn { background:#999; position: absolute;right: 0;width:80px; height:22px; text-align:center;margin-left: 3px; line-height:22px;}.form-box .codeImg { position: absolute;right: 0;width:80px; height:22px;}.formText{padding-left: 40px;position: relative;padding-top: 0;font-size: 12px;clear:both;color: #000;}
.inpBox {padding: 20px 0 0 0px;}
.loginText {clear:both;padding-left: 40px;padding-top:10px;color: #000;}
.loginText a, .notice, .loginText a:link, .notice:link,.loginText a:visited, .notice:visited, .loginText a:active, .notice:active {text-decoration: underline;}
.loginText a:hover, .notice:hover{text-decoration: none;}
.inpBox a {float:left;margin-right:10px;width: 201px;height: 42px;text-align:center;line-height: 43px;font-size: 16px;background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/but_bg1.png) no-repeat;}
.inpBox a:hover {/* background-color:#333; */opacity: 0.6;}

a#submitOk {}.inpBox a.mdBtn {background: url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/but_bg2.png) no-repeat;}.inpBox a.mdBtn:hover {/* background-color:#999; */}.inpBox a.qd:hover {/* background-color:#aaa; */opacity: 0.7;}.inpBox a, .inpBox a:link,.inpBox a:visited, .inpBox a:hover, .inpBox a:active { color: #fff;text-decoration: none; }
/*form-activity-prize*/
.icon-formDl dd {width: 345px;height:38px;margin-bottom: 10px;padding:0; border: solid 1px #000;border-left: none}
.icon-formDl input{vertical-align:middle;}
.icon-formDl .textInp, .icon-formDl .textDiv{margin-top: 10px;width:95%;text-indent:10px; border: none;background: none;color: #000; }
.icon-formDl .codeDd{width:265px;}
.icon-formDl .codeBtn{ height:37px; line-height:37px;}
.icon-formDl .codeImg{ top:8px;}
.icon-formDl dt{ width:37px; height:38px; clear:left;padding:0;margin-bottom: 10px;position: relative; border: solid 1px #000;background: url("https://topic.autoimg.cn/marketing/2017/5/script/icon.png") no-repeat;}
.form-formDl dl.s {width:50%;}
.icon-formDl dl.s dt {width:37px;}
.icon-formDl dl.s dd {width:145px;}
.icon-formDl dl.s .codeDd {width:65px;}
.icon-formDl dt label, .icon-formDl dt i{display:none;}
.icon-formDl dt span{ position: absolute;top: 10px;left: -10px;}
.icon-formDl .s .textInp{ width:95%;}
.icon-formDl .formText{ padding:0;}
.icon-formDl .formText span{ position: absolute;left: -10px;}
.icon-formDl dt.icon-name{background-position: -1px 5px;}
.icon-formDl dt.icon-sex{background-position: -1px -25px;}
.icon-formDl dt.icon-mobile{background-position: -1px -56px;}
.icon-formDl dt.icon-email{background-position: -1px -86px;}
.icon-formDl dt.icon-province{background-position: -1px -115px;}
.icon-formDl dt.icon-city{background-position: -1px -145px;}
.icon-formDl dt.icon-dealer{background-position: -1px -175px;}
.icon-formDl dt.icon-buytime{background-position: -1px -205px;}
.icon-formDl dt.icon-intentcar{background-position: -1px -235px;}
.icon-formDl dt.icon-buybudget{background-position: -1px -265px;}
.icon-formDl dt.icon-code{background-position: -1px -295px;}
.icon-formDl dt.cur,.icon-formDl dd.cur{border-color:#b22024;}
.icon-formDl dt.icon-name.cur{background-position: -41px 5px;}
.icon-formDl dt.icon-sex.cur{background-position: -41px -25px;}
.icon-formDl dt.icon-mobile.cur{background-position: -41px -56px;}
.icon-formDl dt.icon-email.cur{background-position: -41px -86px;}
.icon-formDl dt.icon-province.cur{background-position: -41px -115px;}
.icon-formDl dt.icon-city.cur{background-position: -41px -145px;}
.icon-formDl dt.icon-dealer.cur{background-position: -41px -175px;}
.icon-formDl dt.icon-buytime.cur{background-position: -41px -205px;}
.icon-formDl dt.icon-intentcar.cur{background-position: -41px -235px;}
.icon-formDl dt.icon-buybudget.cur{background-position: -41px -265px;}
.icon-formDl dt.icon-code.cur{background-position: -41px -295px;}
.icon-formDl input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #000;opacity: 1;}input:-moz-placeholder, textarea:-moz-placeholder {color: #000;opacity: 1;}input::-moz-placeholder, textarea::-moz-placeholder {color: #000;opacity: 1;}input:-ms-input-placeholder, textarea:-ms-input-placeholder {color: #000;opacity: 1;}
/*select*/
.icon-formDl .selectpick_div { overflow: hidden; cursor: pointer; overflow: hidden; color: #000;line-height: 34px; width: 100%; position: relative;}
.icon-formDl .selectpick_chara{display: inline-block; padding-right:20px;height:34px;overflow: hidden;}
.icon-formDl .selectpick_icon { cursor: pointer; width: 0; height: 0; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 6px solid #848484; position: absolute;top: 15px;right: 10px;}
.icon-formDl .selectpick_options { width: 100%; overflow-y: auto; border: solid 1px #570954; border-bottom: none; position: absolute; top: 37px; left: -1px; z-index: 100; display:none;}
.icon-formDl .selectpick_options ul { list-style: none; height: auto; margin: 0px; padding: 0px; z-index: 100; font-size: 13.5px; background: #000;}
.icon-formDl .selectpick_options ul li { border-bottom: solid 1px #570954; padding:4px 10px; display: block;font-size: 14px; z-index: 100; background: #000; color: #fff;line-height: 20px;}
.icon-formDl .selectpick_options li:hover{ background:#333; color:#fff;}
.icon-formDl .selectpick_options ul li.selectpick_options_selected { background:#333; color:#fff; z-index: 10;}
.icon-formDl .selectpick_no_select { cursor: default; color: #9a9898; background: #F5F5F5;}
.icon-formDl .select_hide ,.icon-formDl .select_hide option{display:none; height: 0;width:95%;line-height: 0; -moz-opacity: 0; opacity: 0;-webkit-opacity: 0; filter: alpha(opacity =0); overflow: hidden;  font-size: 0;}
.icon-formDl .selectpick_options li{cursor:pointer;}
.icon-formDl .selectpick_options li label{cursor:pointer;}
.icon-formDl .selectpick_div_box{*zoom:1; *display:inline;position:relative; z-index: 9;padding-left: 10px;}
.myy-tt{position: absolute;top: 436px;left: 0px;}

.c22{position:absolute;left: 68px;top: 95px;font-size: 12px;}

.c3 .photos{position: absolute;top: 122px;left:0px;}
.c3 .photos_li{position: absolute;top:0px;left: -62px;clear: both;width: 1200px;}

.photos ul.photos_li li{width: 351px;height: 60px;margin-right:0px;font-weight: bold;}
.photos ul.photos_li li{float: left;color:#fff;/* text-align: center; */cursor: pointer;font-size: 20px;background:url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/arr1.png)no-repeat -351px 0px;line-height:60px;}
.photos ul.photos_li li:nth-child(2){position: relative;left:-39px;top:0;}
.photos ul.photos_li li:nth-child(3){position: relative;left: -60px;top:0;}
.photos ul.photos_li li.cur{ background-position:0px 0px;color:#fff;}
.photos ul.photos_li li:hover{ background-position:0px 0px;color:#fff; }
.photos dl{ position: absolute;top:121px;left:0px; }
.photos dl dd{ display: none; }

.c3 .photos dl{position: absolute;top: -41px;left: -44px;}
.c3 .photos dl dd{ display: none; }
.c3 .zzz{background:rgba(0,0,0,0.8);width:100%;height:55px;position:absolute;bottom:0;left:0;text-align: center;font-size:20px;color:#fff;line-height:55px;}



.c6 .scrollBox_lb1 { position:relative; width:2860px;height:370px;overflow:hidden;border-bottom:5px solid #a62035}
.c6 .scrollBox_lb1 ul {position:absolute;top:0; left:0;padding: 0;height:370px; margin: 0;}
.c6 .scrollBox_lb1 li {float:left; width:499px;position:relative; margin-right:0px; height:370px;overflow:hidden}
.c6 .scrollBox_lb1 li a:hover {filter:alpha(opacity=95);/*IE*/opacity:0.9;/*Mozilla*/}
.c6 .aBtn_lb1 {float:left;position: absolute; height:55px; width:34px; background:url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/arr.png) 0px 0px  no-repeat;filter:alpha(opacity=80);/*IE*/opacity:0.8;/*Mozilla*/}
.c6 .aBtn_lb1:hover{filter:alpha(opacity=100);/*IE*/opacity:1;/*Mozilla*/}
.c6 .aBtnD_lb1{float: left; width: 34px; height: 55px;}
.c6 .lBtn_lb1 {top:142px;left: 0px;z-index: 2;}
.c6 .rBtn_lb1 {background-position:-902px center;top:142px;left: 465px;z-index: 99;}
.text_img{position:absolute;left: 8px;top: 100px;}
.text{position:absolute;top:370px; left:0;background:rgba(0,0,0,0.6);width:100%;height:100%;}
.text a{color:#7ca0a9}
.text h2{font-size:16px;width:80%;margin:0 auto; text-align:center;margin-top:105px;margin-bottom:30px;}
.text p{font-size:14px;width:80%;margin:0 auto;}
.text_img2{width:660px;height:370px;position:absolute;right: 8px;top: 99px;border-bottom:5px solid #a62035}

.video{
    width: 660px;
    height: 370px;
}
.text_img2 .rBtn_lb1 {background-position:-902px center;top:142px;left: 625px;z-index: 99;}


.c7 .photos{ position: absolute;top: 175px;
left: 40px; }
.c7 .photos_li{position: absolute;
top: -70px;
left: 136px;
clear: both;
width: 1090px;}
.c7 .photos ul.photos_li li{width: 248px;height: 45px;float: left;}
.c7 .photos ul.photos_li li:nth-child(4){position:relative;left:-80px;top:0;}
.c7 .photos ul.photos_li li{/* float:left; */background: #787a7c;/* color:#000; */-webkit-transform:skew(-25deg);-moz-transform:skew(-25deg);-ms-transform:skew(-25deg);transform:skew(-25deg);font-size: 20px;}
.c7 .photos ul.photos_li li.cur{ background: #a62035;color:#fff;}
.c7 .photos ul.photos_li li:hover{ background: #a62035;color:#fff; }
.c7 .photos dl{ position: absolute;top:121px;left:0px; }
.c7 .photos dl dd{ display: none; }

.c5 .photos{ position: absolute;top:227px;left:-40px; }
.c5 .photos_li{position: absolute;
top: -100px;
left: 115px;
clear: both;
width: 1185px;}
.c5 .photos ul.photos_li li{width: 279px;height: 45px;float: left;}


	.c5 .photos ul.photos_li li:nth-child(4){position:relative;left: -110px;top:0;}
.c5 .photos ul.photos_li li{/* float:left; */background: #787a7c;/* color:#000; */-webkit-transform:skew(-25deg);-moz-transform:skew(-25deg);-ms-transform:skew(-25deg);transform:skew(-25deg);font-size: 20px;}
.c5 .photos ul.photos_li li.cur{ background: #a62035;color:#fff;}
.c5 .photos ul.photos_li li:hover{ background: #a62035;color:#fff; }

.photos ul.photos_li li:nth-child(2){position: relative;left: -20px;top:0;width: 330px;}
.photos ul.photos_li li:nth-child(5){position: absolute;left: 1003px;top:0;}
.c7 .photos ul.photos_li li:nth-child(5){position: absolute;left: 990px;top:0;}
.c5 .photos dl{position: absolute;top:0px;left: 50px;}
.c5 .photos dl dd{ display: none; }
.pp{position:relative;left: 52px;
top: -22px;}
.pp p{    border: 1px solid #8f9294;
   width: 145px;
height: 73px;
    -webkit-transform: skew(-15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    transform: skew(-15deg);
    margin-bottom: 15px;
    position: relative;
    cursor: pointer;
}.pp p span{display:block; width: 132px;
height: 66px;margin:0 auto;background:#8f9294;margin-top:3px;font-size: 22px;line-height:70px;color:#fff;text-align: center;}
.pp p.cur,.pp p:hover{border:1px solid #a62035;width: 145px;
height: 73px; -webkit-transform:skew(-15deg); -moz-transform:skew(-15deg); -ms-transform:skew(-15deg); transform:skew(-15deg);}
.pp p.cur span,.pp p:hover span{display: block;
width: 132px;
height: 66px;
margin: 0 auto;
    margin-top: 0px;
background: #a62035;
margin-top: 3px;
font-size: 22px;
line-height: 70px;
color: #fff;
text-align: center;}
.pp p:nth-child(2){top:0;left: -22px;}
.pp p:nth-child(3){top:0;left: -44px;}
.pp p:nth-child(4){top:0;left: -66px;}

.img2{-webkit-transform: skew(35deg);-moz-transform: skew(35deg);-ms-transform: skew(35deg);transform: skew(35deg);position:absolute;top:0;left:0;}
.im{top: -6px;left: -7px;}
.tt{top: -9px;left: 150px;-webkit-transform: skew(25deg);-moz-transform: skew(25deg);-ms-transform: skew(25deg);transform: skew(25deg);}

.c7 .c51{ position:absolute;left: -28px;top: -104px;}
.c7 .turn1{margin:0 auto; width:978px; position:absolute;}
.c7 ul{list-style:none;}
.c7 .turn1 ul li { position:absolute;top:0px; display:none;}
.top7 .left1,.right1{ height:55px; width:34px; background:url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/arr.png) 0px 0px  no-repeat;position:absolute;}
.top7 .left1{background-position:-4px 0px;left: 125px;top: 285px;z-index:99;}
.top7 .left1:hover{ filter: alpha(opacity=80); opacity: 0.8;}
.top7 .right1{background-position:-902px 0px;right: -60px;top: 285px;z-index:99;}
.top7 .right1:hover{ filter: alpha(opacity=80); opacity: 0.8;}


.c5 .c51{position:absolute;left: 180px;top: 0px;}
.c5 .turn1{margin:0 auto; width:978px; position:absolute;}
.c5 ul{list-style:none;}
.c5 .turn1 ul li { position:absolute;top:-24px; display:none;}
.top5 .left1,.right1{ height:55px; width:34px;
	z-index: 99; background:url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/arr.png) 0px 0px  no-repeat;position:absolute;}
.top5 .left1{background-position:-4px 0px;left: 201px;top: 402px;z-index:99;}
.top5 .left1:hover{ filter: alpha(opacity=80); opacity: 0.8;}
.top5 .right1{background-position:-902px 0px;right: 353px;top: 402px;z-index:99;}
.top5 .right1:hover{ filter: alpha(opacity=80); opacity: 0.8;}
.c5text h2{background:url(https://topic.autoimg.cn/marketing/2018/3/kyqxcx/test/bg2.png) no-repeat;width:288px;height:42px;line-height:42px;color:#000;font-weight:bold;font-size:26px;text-indent:25px;}
.c5text p{border-bottom:1px #434545 dashed;color:#434545;text-indent:30px;font-size: 16px;height:35px;line-height:35px;width: 358px;}
.c5text p:nth-child(3){text-indent:24px;}
.c5text p:nth-child(4){text-indent:18px;}
.c5text p:nth-child(5){text-indent:12px;}
.c5text p:nth-child(6){text-indent:6px;}
.c5text p:last-child{border:none;}
.imgab{-webkit-transform: skew(-15deg);-moz-transform: skew(-15deg);-ms-transform: skew(-15deg);transform: skew(-15deg);	overflow:hidden;border:2px #a62035 solid;width: 675px;

height: 410px;}
.imgab img{-webkit-transform: skew(15deg);-moz-transform: skew(15deg);-ms-transform: skew(15deg);transform: skew(15deg);margin-left: -112px;
margin-top: -9px;}
.imgab h4{background:rgba(0,0,0,0.6);width:100%;height:35px;line-height:35px;position: absolute;bottom:0px;left:0;}
.imgab h4 span{display:inline-block;width:6px;height:6px;background:#f00;margin-left:15px;margin-right:10px; -webkit-transform:skew(15deg); -moz-transform:skew(15deg); -ms-transform:skew(15deg); transform:skew(15deg);}
.imgab h4 label{ -webkit-transform:skew(15deg); -moz-transform:skew(15deg); -ms-transform:skew(15deg); transform:skew(15deg);display:inline-block;}
.c5text{position:absolute;top:0px;left: 824px;}
.pzaa{position: absolute;
top: 317px;
left: 940px;
z-index: 99;}
.none{display:none;}