@charset "gb2312";
/* CSS Document */

body{margin:0px;padding:0px;font-size:14px;font-family:"微软雅黑","SimHei","SimSun";line-height:24px; background-color:#ebebeb; color:#fff;}
div, h1, h2, h3, h4,h5, p, form, label, input, textarea, img, span,dl,dt,dd{margin:0; padding:0;}
p,div,form,img,ul,ol,li,dl,dt,dd {margin:0;padding:0;border:0; text-align:left;}
ul,ol,li{list-style:none;}
body .footer{padding-top: 80px; color:#FFF;}
a{ color:#6f0246; text-decoration:none; outline:none;}
a:hover{text-decoration:underline; outline:none;}
img{border:none;}


.tabs_boxx{ height:80px;}
.tabs1_a{display: block; float:left; margin-right: 7px; width:80px;height: 41px;background:#a6a6a6; text-align:center;line-height: 41px; font-size: 18px;color: #FFF;}
.tabs_boxx .cur{display: block; float:left; width:80px;height:41px;background:#aa2327;color: #e8d7af;}
a.tabs1_a:hover{text-decoration: none; background:#aa2327; color: #FFFFFF;}

.jxsqh{ width:990px; height:45px; }
.jxstabs1{display: block; float:left;  text-align:center;line-height: 34px; _line-height: 34px;font-size: 12px;color: #000000;margin-right: 2px; width:60px;height: 34px;background:#d2d2d2;}
.jxstabs_box1 .cur{background:#2196f3;color: #FFFFFF;}
a.jxstabs1:hover{text-decoration: none; background:#2196f3; color: #FFFFFF;}


.jxsqh{ width:990px; height:45px; }
.jxstabs2{display: block; float:left;  text-align:center;line-height: 34px; _line-height: 34px;font-size: 12px;color: #000000;margin-right: 2px; width:60px;height: 34px;background:#d2d2d2;}
.jxstabs_box2 .cur{background:#2196f3;color: #FFFFFF;}
a.jxstabs2:hover{text-decoration: none; background:#2196f3; color: #FFFFFF;}

.jxstb table { width:900px; color:#000; line-height:24px;}
.jxstb table td{color:#000; font-weight: bold; font-size: 16px;border-bottom:3px solid #000;}
.jxsnr table{ width:900px; color:#000; line-height:36px;}
.jxsnr table td{ font-size: 14px;}
.jxsnr table tr:nth-child(odd){background:#d2d2d2;}
.jxsnr table tr:nth-child(even){background:#ebebeb;}

.rolljxs {height:143px; width:940px;}
.mCSB_scrollTools {right:0; top:0; width:19px; height:143px;}
.mCSB_dragger {width:19px; left:0;}
.mCSB_dragger_bar { width:10px; height:50px; left:0px; background:#000; cursor:pointer; }
.mCSB_dragger_onDrag .mCSB_dragger_bar .mCSB_dragger_bar{background-position:2px 2px;}
.mCSB_draggerRail { width:10px; overflow:hidden; height:143px; background:#fff;}
.mCustomScrollBox { padding-right:20px;}





h5{color:#000;}
 pre {  border: #999 dashed 1px; color:#000; background: #f6f6f6;padding:10px;
 white-space: pre-wrap; /* css-3 */
white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
white-space: -pre-wrap; /* Opera 4-6 */
white-space: -o-pre-wrap; /* Opera 7 */
word-wrap: break-word; /* Internet Explorer 5.5+ */ 
 
 }